<%if @collection.errors.any? %>
  <%@collection.errors.full_messages.each do |message|%>
    <%=message%><br>
  <%end%>
<%end%>

<%= form_for collection do |f|%>
<%=f.label :name%>
<p><%=f.text_field :name%><br></p>
<%=f.label :description%>
<p><%=f.text_area :description%><br></p>
<p><%=f.label :privacy, "Is this collection Private?"%>
<%= f.check_box :privacy %> </p>
<%=f.submit%>
<%end%>