<div style='background: url(<%= asset_path "background2.jpg" %>) no-repeat center center fixed' class='container'>
<div class='frosted_glass_container_short'>

<div class='frosted_glass_header'>
<div class='page_head center'>Edit Collection</div>
</div>
<div class='frosted_glass_body_short'>
<%= render partial: 'form', locals: {collection: @collection} %>
<% if @collection.tweets.any? %>
<br><br>


<%@collection.tweets.each do |tweet|%>
<div class='tweet tweet_head'>
  <span class='user_name'><%= tweet.user_name %></span>
  <span class='user_handle_and_date'><%= "@#{tweet.user_handle} · #{tweet.date.strftime("%b %d, %Y")}" %></span>
  <%=link_to "✖", destroy_tweet_path(tweet), method: :delete, name: @collection, class: '✖' %></div>
  <div class='tweet tweet_body'>
  <%= tweet.text%>
  </div>

<%end%>
<% end %>
</div>
</div>