
<div style='background: url(<%= asset_path "background1.jpg" %>) no-repeat center center fixed' class='container'>
<div class='frosted_glass_container'>
<h1>My Collections </h1>
<ul>
<%@user_collections.each do |collection|%>
  <li><%=link_to collection.name, collection_path(collection)%>: <%=collection.description%></li>

<%end%>
</ul>

<p><strong><%= link_to "Make a New Collection", new_collection_path %></strong></P>

<div id='search_box' align="left" style='text-align: center'>
      Add tweets to a collection: 
      <%= form_tag '/tweets/search' %>
      <%= text_field_tag :user_name %>
      <% if @collection %>
        <input type="hidden" name="collection" value=<%= @collection.id%> >
      <% end %>
      <%= submit_tag "Search for tweets by this user" %>
</div>
<h1>Public Collections</h1>
<%@collections.each do |collection|%>
  <li><%=link_to collection.name, collection_path(collection)%>: <%=collection.description%>, created by <%= User.find(collection.user_id).user_name %></li>


<%end%>

<ul>
</div>
</div>
