<h1>My Collections </h1>
<ul>
<%@collections.each do |collection|%>
  <li><%=link_to collection.name, collection_path(collection)%>: <%=collection.description%></li>

<%end%>

</ul>

<div id='search_box' align="left">
  <br><label>Search for tweets by username:</label>
  <p><%= form_tag '/tweets/search' %><%= search_field_tag :user_handle %>
  <%= submit_tag 'Search' %></p>
</div>