<h1>My Collections </h1>
<ul>
<%@collections.each do |collection|%>
  <li><%=link_to collection.name, collection_path(collection)%>: <%=collection.description%></li>

<%end%>

</ul>

<<<<<<< HEAD
<%=link_to "Create Collection", new_collection_path%>

=======
>>>>>>> 2836821db7148ba657092c28c7c9b86b6e016a94
<div id='search_box' align="left">
      Search for Tweets by: <%= form_tag '/tweets/search' %><%= search_field_tag :user_handle %>
</div>