<h1><%=@collection.name%></h1>
<h3><%=@collection.description%></h3>
<p><%=link_to "Edit This Collection", edit_collection_path(@collection)%></p>
<%=link_to "Delete this collection", destroy_collection_path(@collection), {method: 'delete'}%>
<%@collection.tweets.each do |tweet|%>
  <div class='tweet tweet_head'>
    <span class='user_name'><%= tweet.user_name %></span>
    <span class='user_handle_and_date'><%= "@#{tweet.user_handle} · #{tweet.date.strftime("%b %d, %Y")}" %></span></div>
    <div class='tweet tweet_body'>
    <%= tweet.text %>
  </div>
<%end%>


<div id='search_box' align="left" style='text-align: center'>
      Add tweets to this collection: 
      <%= form_tag '/tweets/search' %>
      <%= text_field_tag :user_name %>
      <input type="hidden" name="collection" value=<%= @collection.id%> >
      <%= submit_tag "Search for tweets by this user" %>
</div>

<h3 align="center">Contributors to this collection:</h3>
<%= pie_chart @collection.chart_data_hash %>