<h1><%=@collection.name%></h1><br>
<h3><%=@collection.description%></h3><br>
<p><%=link_to "Edit This Collection", edit_collection_path(@collection)%></p>


<h1><%=@collection.name%></h1>
<h3><%=@collection.description%></h3>
<p><%=link_to "Edit This Collection", edit_collection_path(@collection)%></p>
<%=link_to "Delete this collection", destroy_collection_path(@collection), {method: 'delete'}%>
<ul>
<%@collection.tweets.each do |tweet|%>
<li>
<%= tweet.user_name %><br>
@<%= tweet.user_handle %><br>
<%= tweet.text%><br>
<%= tweet.date %><br>
<p></p>
</li>
<%end%>
</ul>

<div id='search_box' align="left">
      Add tweets to this collection: 
      <%= form_tag '/tweets/search' %>
      <%= text_field_tag :user_name %>
      <input type="hidden" name="collection" value=<%= @collection.id%> >
      <%= submit_tag "Search for tweets by this user" %>
</div>