<h1 align="center">Log In</h1>

<%= form_tag sessions_path do %>
  <div class='field' align="center">
    <%= label_tag :user_name %><br>
    <%= text_field_tag :user_name, params[:user_name] %>
  </div>
  <div class='field' align="center">
    <%= label_tag :password %><br>
    <%= text_field_tag :password %>
  </div>
  <div class='actions' align="center"><%= submit_tag 'Log In' %></div>
<% end %>