<%= form_tag '/tweets' %>
Collection to placed in:<%= collection_select(:collection, :id, Collection.all, :id, :name, name: 'collection[]') %>
<% @tweets.each do |tweet| %>
<p><label>User name: </label>
<%= tweet.user_name %><br>
<label>User handle: </label>
<%= tweet.user_handle %><br>
<%= tweet.date %><br>
<%= check_box_tag 'tweet[]', tweet.twitter_id %>
<%= tweet.text %><br></p>

<% end %>

<%= submit_tag %>