<div style='background: url(<%= asset_path "background5.jpg" %>)' class='container'>
<%= form_tag '/tweets' do %>
  Collection to placed in:<%= collection_select(:collection, :id, Collection.all.where(user_id: session[:user_id]), :id, :name) %>
  <% @tweets.each do |tweet| %>
    <div class='tweet tweet_head'>
    <span class='check_box'><%= check_box_tag 'tweet[]', tweet.twitter_id %></span>
    <span class='user_name'><%= tweet.user_name %></span>
    <span class='user_handle_and_date'><%= "@#{tweet.user_handle} · #{tweet.date.strftime("%b %d, %Y")}" %></span></div>
    <div class='tweet tweet_body'>
    <%= tweet.text %>
  </div>
  <% end %>
  <%= submit_tag 'Add to My Collection' %>
<% end %>
<%= form_tag '/tweets/search' do %> 
  <%= hidden_field_tag :twitter_id, @tweets.last.twitter_id  %>
  <%= hidden_field_tag :user_name, @tweets.last.user_handle %>
  <%= submit_tag "Get More Tweets by @#{@tweets.last.user_handle}" %>
<% end %>
</div>