<%= form_tag '/tweets' do %>
  Collection to placed in:<%= collection_select(:collection, :id, Collection.all.where(user_id: session[:user_id]), :id, :name) %>
  <% @tweets.each do |tweet| %>
    <p><label>User name: </label>
    <%= tweet.user_name %><br>
    <label>User handle: </label>
    <%= tweet.user_handle %><br>
    <%= tweet.date %><br>
    <%= check_box_tag 'tweet[]', tweet.twitter_id %>
    <%= tweet.text %><br></p>
  <% end %>
  <%= submit_tag 'Add to My Collection' %>
<% end %>
<%= form_tag '/tweets/search' do %> 
  <%= hidden_field_tag :twitter_id, @tweets.last.twitter_id  %>
  <%= hidden_field_tag :user_name, @tweets.last.user_handle %>
  <%= submit_tag "Get More Tweets by @#{@tweets.last.user_handle}" %>
<% end %>