<%= form_tag '/tweets' do %>
Collection to placed in:<%= collection_select(:collection, :id, Collection.all, :id, :name) %>
<% @tweets.each do |tweet| %>
<div class='tweet'>
  <p><span class='user_name'><%= tweet.user_name %></span>
  <span class='user_handle'><%= "@#{tweet.user_handle}" %></span><br>
  <%= tweet.date %><br>
  <%= check_box_tag 'tweet[]', tweet.twitter_id %>
  <%= tweet.text %><br></p>
</div>
<% end %>
<%= submit_tag "Add These Tweets" %>
<% end %>
<%= form_tag '/tweets/search' do %>
<%= hidden_field_tag :twitter_id, @tweets.last.twitter_id %>
<%= hidden_field_tag :user_handle, @tweets.last.user_handle %>
<%= submit_tag "Get More Tweets by #{@tweets.last.user_handle}" %>
<% end %>