<div style='background: url(<%= asset_path "background2.jpg" %>) center center' class='container'>
<div class='frosted_glass_container'>
<div class='tweets_list_header'>
<%= form_tag '/tweets' do %>
  <%= collection_select(:collection, :id, Collection.all.where(user_id: session[:user_id]), :id, :name) %>
</div>
<div class='tweets_list'>

  <% @tweets.each do |tweet| %>
    <div class='tweet tweet_head'>
    <span class='check_box'><%= check_box_tag 'tweet[]', tweet.twitter_id %></span>
    <span class='user_name'><%= tweet.user_name %></span>
    <span class='user_handle_and_date'><%= "@#{tweet.user_handle} · #{tweet.date.strftime("%b %d, %Y")}" %></span></div>
    <div class='tweet tweet_body'>
    <%= tweet.text %>
  </div>
  <% end %>
</div>
<div class='tweets_list_footer'>
<%= submit_tag 'Add Tweets', class: 'button', id: 'add_tweets' %>
<% end %>
<%= form_tag '/tweets/search', class: 'inline_element' do %> 
  <%= hidden_field_tag :twitter_id, @tweets.last.twitter_id  %>
  <%= hidden_field_tag :user_name, @tweets.last.user_handle %>
  <%= submit_tag "Get More Tweets by @#{@tweets.last.user_handle}", class: 'button', id: 'get_more_tweets' %>
<% end %>
</div>
</div>
</div>