<!DOCTYPE html>
<html>
<head>
  <title>Diorama</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id='container'>
    <div id='user_header'><% if flash[:notice] %>
      <div class='notice'><%= flash[:notice] %></div>
    <% end %>
      <%= link_to 'Log In', new_session_path %>
      <%= link_to 'Sign Up', new_user_path %>
      </div>
    </div>
<%= yield %>

</body>
</html>
