<!DOCTYPE html>
<html>
<head>
  <title>Diorama</title>
  <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/stylesheet.css">
  <%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='navbar_container'>
    <div class='navbar'>
    <% if current_user %>
    <span class='navbar_item'><%= link_to "My Collections", root_path %></span>
      <span class='navbar_item'>
      Logged in as: <%= current_user.user_name %>
      </span>
      <span class='navbar_item'>
      <%= link_to "Logout", session_path("current"), method: "delete" %>
      </span>
    <% end %>
    <% if current_user.nil? %>
    <span class='navbar_item'>
      <%= link_to "Log in with Twitter", '/auth/twitter' %>
      </span>
    <% end %>
<span class='navbar_item'><%= link_to "About Diorama", about_path %></span>
      <% if flash[:notice] %>
      <div class='notice' align="left">
        <%= flash[:notice] %>
      </div>
    <% end %>
      </div>


    </div>


<%= yield %>
</body>

</html>
